<div class="create-page">
    <h1>Create Task</h1>
    <form action="/tasks" method="POST" class="create-page__form">
        <div class="field-container">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
        </div>
        <div class="field-container">
            <label for="description">Description</label>
            <textarea name="description" id=""></textarea>
        </div>
        <div class="field-container">
            <p>Single time</p>
            <label class="switch">
                <input type="checkbox" class="switch__input" name="is_single_time_only" />
                <span class="switch__slider round"></span>
            </label>
        </div>
        <div class="field-container">
            <p>Enabled</p>
            <label class="switch">
                <input type="checkbox" class="switch__input" name="is_enabled" />
                <span class="switch__slider round"></span>
            </label>
        </div>
        <div class="field-container">
            <label for="schedule_type">Schedule Type</label>
            <select name="schedule_type" id="schedule_type">
                <option value="fixed">fixed</option>
                <option value="deadman">deadman</option>
            </select>
        </div>
        <div class="field-container">
            <label for="interval_type">Interval Type</label>
            <select name="interval_type" id="interval_type">
                <option value="monthly">monthly</option>
                <option value="weekly">weekly</option>
                <option value="daily">daily</option>
                <option value="hourly">hourly</option>
            </select>
        </div>
        <div class="field-container">
            <label for="days">Days</label>
            <input type="text" name="days" id="days" />
        </div>
        <div class="field-container">
            <label for="hours">Hours</label>
            <input type="text" name="hours" id="hours" />
        </div>
        <div class="field-container">
            <label for="minutes">Minutes</label>
            <input type="text" name="minutes" id="minutes" />
        </div>
        <div class="field-container">
            <label for="timeout_seconds">Seconds Timeout</label>
            <input type="number" name="timeout_seconds" id="timeout_seconds" />
        </div>
        <button type="submit" class="create-page__btn">Create</button>
    </form>
</div>
