<main class="list-page">
    <div class="list-page__head">
        <h1 class="list-page__title">Job Manager</h1>
    </div>

    <section
        id="results"
        hx-boost="true"
        hx-target="#results"
        hx-swap="outerHTML"
        hx-push-url="true"
        style="display: flex; flex-direction: column; align-items: center"
    >
        <%- include('../partials/job-filters', {filterValues}) %>
        <%-include('../partials/pagination', {paginateData, module}) %>
        <%- include('../partials/job-table', {jobs}) %>
    </section>
</main>
