<main class="list-page">
    <div class="list-page__head">
        <h1 class="list-page__title">Task Manager</h1>
    </div>

    <%- include('../partials/task-filters', {filterValues}) %>

    <%- include('../partials/task-table', {tasks}) %>
</main>
