<nav class="navigation">
    <a href="/" class="header__link">Home</a>
    <a href="/task" class="header__link">Tasks</a>
    <a href="/task/create" class="header__link">Create Task</a>
    <a href="/job" class="header__link">Jobs</a>
    <a href="/job/create" class="header__link">Create Job</a>
</nav>
