<div class="item-select form-page__item-select js_item_select <%= modifier %>">
    <div class="table-container">
        <table class="table table--interactive" data-func="table" data-role="selected">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody data-func="selected-body">
                <tr data-func="row">
                    <td data-func="position">1</td>
                    <td>26</td>
                    <td>master</td>
                    <td>✅</td>
                </tr>
                <tr data-func="row">
                    <td data-func="position">1</td>
                    <td>26</td>
                    <td>master</td>
                    <td>❌</td>
                </tr>
                <tr data-func="row">
                    <td data-func="position">1</td>
                    <td>26</td>
                    <td>master</td>
                    <td>✅</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="item-select__controlls" data-func="control-container">
        <button type="button" class="to-left disabled" data-func="control" data-role="left">
            ⬅️
        </button>
        <button type="button" class="up disabled" data-func="control" data-role="up">⬆️</button>
        <button type="button" class="to-right disabled" data-func="control" data-role="right">
            ➡️
        </button>
        <button type="button" class="down disabled" data-func="control" data-role="down">⬇️</button>
    </div>
    <div class="table-container">
        <table class="table table--interactive" data-func="table" data-role="available">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody data-func="available-body">
                <tr data-func="row">
                    <td>88</td>
                    <td>dev</td>
                    <td>✅</td>
                </tr>
                <tr data-func="row">
                    <td>55</td>
                    <td>beta</td>
                    <td>❌</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
