<div class="item-select form-page__item-select <%= modifier %>">
    <div class="item-select__selected item-select__tab">
        <table class="table table--interactive">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>26</td>
                    <td>master</td>
                    <td>✅ ❌</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="item-select__controlls">
        <button class="js_item_control to-left disabled">⬅️</button>
        <button class="js_item_control up disabled">⬆️</button>
        <button class="js_item_control to-right disabled">➡️</button>
        <button class="js_item_control down disabled">⬇️</button>
    </div>
    <div class="item-select__availiable">
        <table class="table table--interactive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>88</td>
                    <td>dev</td>
                    <td>✅</td>
                </tr>
                <tr>
                    <td>55</td>
                    <td>beta</td>
                    <td>❌</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
