<section
    class="section"
    id="results"
    hx-boost="true"
    hx-target="#results"
    hx-swap="outerHTML"
    hx-push-url="true"
>
    <%- include('../partials/job-filters', {filterValues}) %>
    <%-include('../partials/pagination', {paginateData}) %>
    <%- include('../partials/job-table', {jobs}) %>
</section>
