<section
    class="section"
    id="results"
    hx-boost="true"
    hx-target="#results"
    hx-swap="outerHTML"
    hx-push-url="true"
>
    <%- include('../partials/task-filters', {filterValues}) %>
    <%-include('../partials/pagination', {paginateData}) %>
    <div class="container"><%- include('../partials/task-table', {tasks}) %></div>
</section>
