.btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: var(--br-primary);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.2);
}

.btn--disabled {
    background-color: var(--color-disabled);
}

.btn--disabled:hover {
    transform: scale(1);
}

.btn--bigger {
    min-height: 60px;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    border: 2px solid var(--color-secondary);
}

.btn-secondary {
    border: 0;
    background-color: var(--color-secondary);
}

.btn--align {
    display: flex;
    align-items: center;
    gap: 4px;
}

.btn-container {
    display: inline-block;
}

.btn-container .stop {
    display: none;
}

.btn-container.running .run {
    display: none;
}

.btn-container.running .stop {
    display: inline-block;
}
