.field-container {
    position: relative;
}

.field-container .loader-container {
    position: absolute;
    inset: 0;
}

.field {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--color-secondary-dark);
    border-radius: var(--br-primary);
    color: var(--color-font);
    padding: 10px 20px;

    input,
    textarea,
    select {
        flex: 1;
        padding: 5px;
        background-color: var(--color-bg);
        border-radius: var(--br-primary);
        border: 0;
    }

    textarea {
        min-width: 233px;
    }

    .bigger {
        min-height: 190px;
    }
}

.error {
    color: var(--color-error);
}
