.field-container {
    position: relative;
}

.field-container .loader-container {
    position: absolute;
    inset: 0;
}

.field {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #e0e0e0;
    border-radius: var(--br-primary);
    color: #212121;
    padding: 10px 20px;

    input,
    textarea,
    select {
        flex: 1;
        padding: 5px;
        background-color: #fff;
        border-radius: var(--br-primary);
        border: 0;
    }

    textarea {
        min-width: 233px;
    }

    .bigger {
        min-height: 190px;
    }
}

.error {
    color: red;
}
