.navigation {
    display: flex;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: var(--color-secondary);
    font-size: 22px;

    a {
        padding-right: 15px;
        text-decoration: none;
        color: var(--color-primary);
        font-weight: bold;
    }
}
